form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

div {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.champ_nom {
    margin-top: 10px;
}

input,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
}.login-case{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.button_submit{
    height: 40px;
    width: 150px;
    background-color: #e31766;
    font-size: medium ;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;

}
.button_submit:hover {
    background-color: #71c920;
}
.role-selection {
    margin-top: 1rem;
    margin: auto;
    display: flex;
    gap: 1rem;
}

.role-selection label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.role-selection input[type="radio"] {
    cursor: pointer;
}
