.navbar {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #333;
    width: auto;
    border-radius: 50px;
}

.navbar-left {
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
}
.logout-button{
    
    background-color: #333;
    color: rgb(238, 7, 7);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}